html,
body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(250deg, #7b2ff7, #f107a3);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form input[type='text'] {
    width: 100%;
    border: none;
    padding: 0.6rem 0.4rem;
    border-radius: 0.2rem;
    background-color: beige;
    outline: none;
}

form input[type='submit'] {
    width: 100%;
    margin: 1rem 0;
    background-color: black;
    border: none;
    color: white;
    padding: 0.9rem 0;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

form span {
    margin-top: 0.4rem;
    text-align: center;
    font-weight: 600;
    color: rgb(68, 38, 38);
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    position: relative;
    width: 300px;
    margin-top: 2rem;
}

li {
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%;
    height: 80px;
    position: relative;
}
